<h1>Backlash: Glaucoma Patients Compromised</h1>
<p>The progression of glaucoma occurs with deteriorating, limited visual fields. The outcome is that glaucoma groups have a higher tendency for an unsafe walking style. Recent studies of glaucoma patients and control patients concluded that postural sway and gait imbalance in patients with glaucoma augmented their fall risk. Postural balance interconnects with active ocular and somatosensory components. These differences become visible as glaucoma worsens and the patients walking gait is affected. The impact gait quality and risk of a fall substantially influence healthcare costs and patient&rsquo;s quality of life.</p>
<hr />
<p>&nbsp;</p>
<h1>Glaucoma Surgery Revolution</h1>
<p>Enhancements in a minimally invasive glaucoma procedure, referred to as ab-interno canaloplast, earned ophthalmologist Mahmoud A. Khaimi top honors. &ldquo;Based on the same principles as angioplasty, ABiC uses microcatheter technology to enlarge the eye&rsquo;s natural drainage system, improving outflow and lowering eye pressure,&rdquo; Khaimi said to <em>The Journal Record</em> in response to his Innovator of the Year Award.</p>
<p>The surgery creates a larger fluid outflow conduit. In doing so, it brings back the natural ocular aqueous drainage without tissue injury. Also, the technique does not insert a stent or shunt.</p>
<p>Offering more treatment options gives glaucoma patients additional choices between traditional eye drop medications and surgery.</p>
<hr />
<p>&nbsp;</p>
<h1>Climbing Glaucoma Rates Expected</h1>
<p>As the population ages, healthcare systems brace for a stream of newly diagnosed glaucoma patients. Prevention is better than intervention. Glaucoma&rsquo;s progression is silent, and people are unaware they have it. It is dangerous as it accounts as the primary source of permanent vision loss.</p>
<p>The first symptom causes a reduction in peripheral vision. Annual eye exams facilitate early detection, treatment, and needless blindness.</p>
<hr />
<p>&nbsp;</p>
<h1>XEN Ocular Stent Surgery Delivers Glaucoma Treatment Possibilities</h1>
<p>U.S. Food and Drug Administration approved XEN implants for the treatment of glaucoma in selected patients. Candidates for the new XEN Gel Stent implants are those with refractory glaucoma that is unresponsive to other therapies. Traditional glaucoma treatment procedures include medical therapy, laser trabeculoplasty, and trabeculectomy. The outpatient procedure inserts the stent which is about the size of an eyelash. Reduction in the intraocular pressure happens by draining the buildup of ocular fluid. The stent itself is a 6 mm long soft, gelatinous stent place with a tiny corneal incision.</p>
<hr />
<p>&nbsp;</p>
<h1>Turning the Tables on Glaucoma</h1>
<p>Spoiler Alert: Glaucoma is not a reason to gain too much weight!</p>
<p>Harvard researchers report a link in the protective effect of extra pounds and a lowered risk of open-angle glaucoma in women. The limited conclusions came from only white, European participants. The study of 78,777 women and 41,352 men looked for an association between glaucoma and body mass index (BMI). BMI integrates height and weight. Women appeared to have a lower risk of open-angle glaucoma. There was no correlation for their male counterparts. &nbsp;</p>
<p>Perhaps, the Roman dramatist Terence (190-159 BC) said it best, &ldquo;Moderation in all things.&rdquo;</p>
<hr />
<p>&nbsp;</p>
<h1>African-Americans: Irreversible Blindness Glaucoma Research Grant Funded</h1>
<p>The expected rate of glaucoma in African-Americans is five times over the general population. &nbsp;They are six times more likely to have permanent blindness. A $1.6 million for research granted to the University of North Carolina at Chapel Hill. The Agency for Healthcare Research and Quality funded the grant. The study is one arm of a bigger picture. The information and statistics garnered by the research will impact the federal government plan, Health People 2020, to reduce glaucoma induced blindness.</p>
<hr />
<p>&nbsp;</p>
<h1>High-Tech Ultrasound Waves in Glaucoma</h1>
<p>Human clinical trials have begun to determine the safety and usefulness of a new circular cyclo coagulation technique. &nbsp;The procedure uses high-intensity and focused ultrasound waves to disintegrate ocular ciliary tissue to diminish aqueous humor fluid production.</p>
<p>Initial information shows the non-invasive procedure results in the expected intraocular pressure reduction. The outcomes are repeatable and minimally uncomfortable.</p>
<p>As developments occur, this novel use of sound waves will have a niche position in the therapeutic management of glaucoma alongside medication therapy and surgeries.</p>
<hr />
<p>&nbsp;</p>
<h1>Stroke Watch a Startling Connection with Open-Angle Glaucoma</h1>
<p>Researchers completed a ten-year retrospective study of more than 1,500 patients to discover an apparent correlation of a higher risk of stroke in individuals with open-angle glaucoma.</p>
<p>Included in the assessment review were participants with concurrent disease states such as high cholesterol and blood pressure, heart conditions, age, kidney function, and diabetes.</p>
<p>These conditions plus being of male gender increases the overall risk of developing glaucoma.</p>
<p>Vascular disease and contracted blood flow profusion are also factors for stroke. Thus, prevention strategies are similar for both glaucoma and stroke. <br /><br /></p>
